doctype html 

html 
    head
        link(rel='stylesheet' type='text/css' href='./views/stylesheets/index.css')
        title= title
    body 
        h1= header

        ul(class= 'todolist')
            each val in todoList
                form(action= "/complete", method= "POST")
                    input(type="hidden" value=val['_id'] name="existing_task_id")
                    input(type= 'submit' value="check" name= val[_id])
                li= val['task']
                form(action= "/remtodo", method= "POST")
                    input(type="hidden" value=val['_id'] name="to_delete_id")
                    input(type= 'submit' value= 'X' name= val['_id'])
                br
        
        form(action= "/task", method= "POST")
            input(type="text" name="new_task" placeholder="Enter a new task")
            input(type="submit" value="submit")

        ul(class='finishedlist')
            each val in finishedList
                form(action= "/complete", method="POST")
                    input(type="hidden" value=val['_id'] name="finished_task_id")
                    input(type="submit" value="uncheck" name = val[_id])
                li= val["task"]
                form(action= "/remcompleted", method= "POST")
                    input(type="hidden" value=val['_id'] name="to_delete_id")
                    input(type= 'submit' value= 'X' name= val['_id'])
                br
