doctype html 

html 
    head
        link(rel='stylesheet' type='text/css' href='./views/stylesheets/index.css')
        title= title
    body 
        h1= header

        ul(class= 'todolist')
            each val in todoList
                form(action= "/update", method= "POST")
                    input(type="hidden" value=val['task_id'] name="existing_task_id")
                    input(type= 'submit' value= val['completed'] name = 'task_status')
                li= val['task']
                form(action= "/", method= "DELETE")
                    input(type="hidden" value=val['task_id'] name="to_delete_id")
                    input(type= 'submit' value= 'X' name= val['task_id'])
                br
        
        form(action="/new_task", method="POST")
            label(for="new_task") enter new task
            input(type="text" name="new_task" id="new_task")
            input(type="button" value="submit")
